:root {
  --IRIS: #4d5ae5;
  --NAVYBLUE: #2e2f42;
  --OCEAN: #404bbf;
  --SLATE: #434455;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  text-decoration: none;
  color: var(--NAVYBLUE);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
}
.logo span {
  color: var(--IRIS);
}

.main-navigation {
  color: var(--NAVYBLUE);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}

.main-navigation:active {
  color: var(--OCEAN);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-contacts {
  color: var(--SLATE);
}

.title {
  background-color: var(--NAVYBLUE);
  text-align: center;
}

.title-text {
}

.title button {
  text-align: left;
}

footer {
}
