:root {
  --IRIS: #4d5ae5;
  --NAVYBLUE: #2e2f42;
  --OCEAN: #404bbf;
  --SLATE: #434455;
}

body {
  font-family: Roboto, sans-serif;
}

.logo {
  text-decoration: none;
  color: var(--NAVYBLUE);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  margin-bottom: 0px;
}
.logo span {
  color: var(--IRIS);
}

.main-navigation {
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-navigation > li > a {
  color: var(--NAVYBLUE);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}
 {
  color: var(--NAVYBLUE);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}

.main-navigation:active {
  color: var(--OCEAN);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-contacts {
  margin-top: 0;
}

.main-contacts > li > a {
  color: var(--SLATE);
}

.title {
  background-color: var(--NAVYBLUE);
}

.title-text {
  color: white;
  text-align: center;
}

.title button {
  color: white;
  background-color: var(--IRIS);
  font-family: inherit;
  font-weight: 500;
  border-width: 0;
}

.solutions h3 {
  color: var(--NAVYBLUE);
}
.solutions p {
  color: var(--SLATE);
}

.services h2,
.team h2 {
  text-align: center;
  color: var(--NAVYBLUE);
  font-weight: 700;
}

.team h3 {
  color: var(--NAVYBLUE);
  font-weight: 500;
}

.team p {
  color: var(--SLATE);
}

footer,
footer a {
  background-color: var(--NAVYBLUE);
  color: white;
}

footer span {
  color: var(--IRIS);
  font-family: Raleway;
  font-weight: 800;
}

footer a {
  font-weight: 800;
}
